@import './variables';
@import './header';

body {
    background-color: rgb(228, 222, 222);
    font-family: 'Poppins', sans-serif;
}

.butt {
    background:$primaryBtn;
    font-size: 2rem;
    width: 15rem;
    height: 6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.551);
    &:hover {
        background: linear-gradient(#C08497, #F7AF9D )
    }

}

h1 {
    background: $textColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    
    width: 655px;
    height: 358px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 123px;
    letter-spacing: -0.02em;

    mix-blend-mode: normal;
   
 }

 p {

    width: 709.07px;
    height: 517.52px;
    
    font-family: Poppins;
    
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.02em;
    
    color: #858282;
 }

 input {
     width: 32rem;
     height: 6rem;
     border-radius:1rem;
     border: none;
     box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.551);
     margin: 1rem;
     font-size: 2rem;
     font-family: Poppins ;
     color: rgb(114, 139, 173);

 }

 .inputGroup {
     width: 32rem;
     margin: 1rem;
 }

 .modal {
    
     display: flex;
     background: #FFF4F4;
     column-count: 4;
     align-items: center;
     justify-content:space-around;
     margin-top: 20rem;
     margin-inline-start: auto;
     margin-inline-end: auto;
     padding: 5rem;
     border: solid 2px rgba(206, 205, 205, 0.342);
     border-radius: 2rem;
     box-shadow: 5px 5px 5px rgb(197, 197, 197);
     width: 35%;
 }

 .innerGroup {
     display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
 }

 img {
     
     width: 35rem;
     height: 35rem;
     border-radius: 50%;
     order: 1;
     filter: saturate(100%);
     filter:contrast(80%)
   
    

 }
